main{

}
#philosophy {
  padding-top: 0;
  }
#philosophy .wrap {
  position: relative;
}
#philosophy .history {
  background-color: #999;
  color: #d8d4d4;
  font-size: 12px;
  line-height: 3;
  padding-left: 20px;
}
#philosophy h2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 36px;
  font-size: 13px;
  color: #fff;
}
#philosophy h2::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #eee;
  display: block;
  margin: 0 auto;
  margin-top: -6px;
}
  #philosophy .p {
    
  }
#philosophy h2+.p{
  padding: 26px;
  line-height: 2;
}
#philosophy h3+.p{
  
  text-align: center;
  margin-bottom: 50px;
}
#philosophy ul.list {
  display: flex;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 25px;
}
#philosophy ul.list li {
  width: calc(100% / 3);
  text-align: center;
}
#philosophy ul.list li:nth-child(2){
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
  #philosophy ul.list li a {
  width: 100%;
  display: block;
  line-height: 3;
  font-size: 17px;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
  }
  #philosophy h3 {
    
  text-align: center;
  line-height: 2;
  }
  #philosophy ul.contents {
    
  width: 90%;
  margin: 0 auto;
  }
  #philosophy ul.contents li {
    
  margin-bottom: 40px;
  }
  #philosophy ul.contents li h4 {
  font-size: calc(27px * 0.7);
  background-color: #eee;
  line-height: 4;
  position:relative;
  padding-left: 90px;   
  }
#philosophy ul.contents li h4::before{
  content: "";
  font-size: 70px;
  line-height: 1;
  position: absolute;
  left: 20px;
  bottom: 0;
  /*! display: inline-block; */
}
#philosophy ul.contents li:nth-child(1) h4::before{
  content: "1";
}
#philosophy ul.contents li:nth-child(2) h4::before{
  content: "2";
}
#philosophy ul.contents li:nth-child(3) h4::before{
  content: "3";
}
#philosophy ul.contents li p:nth-of-type(1) {
  padding-top: 40px;
}
#philosophy ul.contents li p {
  padding-left: 40px;
  line-height:1.5;
}
#philosophy ul.contents li p:before{
  content: ".";
  vertical-align: 4px;
  margin-right: 6px;
}
.current{
  border-bottom:2px solid blue !important; 
  color: blue;
}
.here{
  color: #eee;
}