 #title{
}
#title:hover{
  background-size:10%,100%;
}
#title .wrap{
  /*! height: 450px; */
  overflow: hidden;
  position: relative;
}



#title ul.slide{
/*! height: 450px; */
  /*! display: flex; */
  /*! flex-wrap: nowrap; */
  /*! width: 200%; */
  color: #fff;
}
#title ul.slide li.slick-slide{
  height: 450px;
  background-position: center,center;
  background-repeat: no-repeat;
  background-size: cover;
  /*! transition: all 0.7s; */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  /*! width: 50%; */
  background-color: #ccc;
}
#title ul.slide li.t1{
  /*! background-color: #d3cdd0; */
  background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/37/abstract-1867838_960_720.jpg);
  /*! background-size: cover; */
}
#title ul.slide li.t2{
/*   background-color: #f61e83;
  */ background-image: url(https://images.samsung.com/is/image/samsung/p5/sec/aboutsamsung/2019/home/samsung-main-key-movie-thumbnail-06-large.jpg?$ORIGIN_JPG$); /*
  background-size: cover; */
}
#title ul.slide li:nth-child(2)::before {
  /*! content: "디저트 플랜트"; */
  /*! color: #fff; */
  /*! font-size: 40px; */
  /*! opacity: 0; */
  /*! transition: all 0.7s; */
  /*! text-shadow: 1px 2px 5px #333; */
  /*! display: block; */
}
#title ul.slide li:nth-child(1) h2{
/*   margin-bottom: 13px;
  transition: all 0.4s;
  animation-name: slideh2;
  animation-direction: reverse;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  opacity: 0; */
}
@keyframes slideh2{
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(-20%);
    opacity: 0;
  }
}
#title ul.slide li h2{
  color: #fff;
  line-height: 3;
}
#title ul.slide li p{
 color: #fff;
}
#title ul.slide li:nth-child(1) p{
/*   animation-name: slidep;
  animation-direction: reverse;
  animation-duration: 1.0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  opacity: 0; */
}
/* @keyframes slidep{
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  100%{
    transform: translateX(20%);
    opacity: 0;
  }
} */
/* #title span.control{
  width: 100%;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  display: none;
} */
/* #title span.control a{
  width: 40px;
  height: 100px;
  background-color: rgba(255,255,255,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title span.control a:nth-child(1)::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #000;
  border-right: transparent;
  border-bottom: transparent;
  transform: translateX(8px) rotate(-45deg);
}

#title span.control a:nth-child(2)::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #000;
  border-right-color: rgb(0, 0, 0);
  border-right-style: solid;
  border-right-width: 2px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-left: transparent;
  border-bottom: transparent;
  transform: translateX(-5px) rotate(45deg);
} */







 